.trainingForms{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: auto; 
    row-gap: 50px;
}
.center {
    display: grid;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    height: 100px;
    width: 100px;
}
.title{
    text-align: center;
  }
