doctype html
html
  head
    meta(charset="utf-8")
    title Login
    style
      include ../DummyThiccAssets/styles.css
  body
    .login-form
      h1 Login Form
      form(action="auth" method="POST")
        input(type="text" name="username" placeholder="Username" required)
        input(type="password" name="password" placeholder="Password" required)
        input(type="submit" name="Log ind")

        if error
            .alert
               p #[strong Error!] #{error}