include header
  include ../css/Admin.css
body
  include burger
  .users
    h4 Brugere
    ul(id='userlist')
      each element in users
        li= element
  .buttons
    button(type='button' href='*' id='Opret') Opret bruger
    button(type='button' href='*' id='Rediger') Rediger bruger
    button(type='Button', onclick='test()', id='Slet') Slet Bruger