.topnav
  a(href='' class='active') #{title}
  div(id='myLinks')
    a(href='/Traeningsformer') Traeningsformer
    a(href='/Admin') Administration
    a(href='/logout') Log ud
  a(href='javascript:void(0);' class='icon' onclick='showMenu()')
    i(class='fas fa-bars fa-lg')