include header
  include ../css/ExerciseList.css
body
  include burger
  .exercises
    each element in exercises
      a(href="/Oevelse/"+trainingForm+"/"+element)
        li= element
  .button
    button(type="button",href="*") Opret øvelse