html
  head
    meta(name='viewport',content='width=device-width, initial-scale=1.0', )
    script(src='https://kit.fontawesome.com/9bdc29d32c.js')
    script(src='/burgermenu.js')
    style
      include ../css/burger.css
