html
  head
    meta(name="viewport",content="width=device-width, initial-scale=1.0", )
    script(src="../burgermenu.js")
    style
      include ../css/burger.css
      include ../font-awesome-4.7.0/css/font-awesome.min.css