include header 
  include ../css/TrainingForms.css
body
  include Burger
  .trainingForms
    each element in trainingforms
      a(href="/Oevelser/"+element)
        img(class="center", src=`../${element}.jpg`)
        .title #{element}